body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-image: url( bg.jpg);
	color: grey;
}

header {
	background-image: url( bg2.png);
	padding: 20px;
	color: gold;
	
		
}
h1 {
  text-shadow: 2px 2px white;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
}

.gallery img {
	width: calc(33.33% - 10px);
	margin-bottom: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.about p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.contact {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.contact p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.contact a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
